.logo {
    height: 40px;
    margin-top: 30px;
}

.background {
    background-color: rgb(103, 174, 245);
    height: 70px;
    background-image: url(../img/pattern.png);
    background-size: 250px;

}

.grey-subtitle {
    color: rgb(97, 94, 100);
}

.blue-subtitle {
    color: rgb(39, 143, 247);
}

.credits {
    font-size: 10px;
}

.highlighted-text {
    background-color: yellow;
}

table {
    border-spacing: 0px;
}

.table-head {
    background-color: rgb(26, 144, 228);
    color: aliceblue;
    text-align: left;
}

.first-line {
    background-color: rgb(40, 219, 219);
}

.third-line {
    background-color: rgb(40, 219, 219);
}

.suggestions {
    color: rgb(97, 94, 100);
}

.image {
    position: relative;
}


.text-image {
    position: absolute;
    top: 2%;
    left: 2%;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;

}